# Create `emp` table

In [0]:
from pyspark.sql.functions import when, col

# Read emp csv file
emp = spark.read.csv("/FileStore/tables/emp.csv", inferSchema=True, header=True)

# Replace 'NULL' strings with actual nulls
for column in emp.columns:
    emp = emp.withColumn(column, when(col(column)=="NULL", None).otherwise(col(column)))

# Create Temporary view for emp
emp.createOrReplaceTempView("emp")

# Create `dept` table

In [0]:
from pyspark.sql.functions import when, col

# Read emp csv file
dept = spark.read.csv("/FileStore/tables/dept.csv", inferSchema=True, header=True)

# Replace 'NULL' strings with actual nulls
for column in dept.columns:
    dept = dept.withColumn(column, when(col(column)=="NULL", None).otherwise(col(column)))

# Create Temporary view for emp
dept.createOrReplaceTempView("dept")

# Create `t1` table

In [0]:
from pyspark.sql.functions import when, col

# Read emp csv file
t1 = spark.read.csv("/FileStore/tables/t1.csv", inferSchema=True, header=True)

# Replace 'NULL' strings with actual nulls
for column in t1.columns:
    t1 = t1.withColumn(column, when(col(column)=="NULL", None).otherwise(col(column)))

# Create Temporary view for emp
t1.createOrReplaceTempView("t1")

# Queries

## 1. Stacking One Rowset atop Another

### A. `SQL`

- `UNION ALL` combines rows from multiple row sources into one result set. 
    - As with all set operations, the items in all the `SELECT` list must match in number and data type
    - Includes duplicates if they exist
- `UNION` - filers out duplicates

In [0]:
%sql
select ename as ename_and_dname, deptno
from emp
where deptno=10
union all
select '------', null
from t1
union all
select dname, deptno
from dept

ename_and_dname,deptno
MILLER,10
KING,10
CLARK,10
------,null
ACCOUNTING,10
RESEARCH,20
SALES,30
OPERATIONS,40
PROGRAMMING,50
A,1
B,2

### B. `PySpark`

In [0]:
from pyspark.sql.functions import lit
display(emp.select(col('ename').alias('ename_and_dname'),
                   'deptno').union(dept.select('dname',
                                                'deptno')))

ename_and_dname,deptno
ALLEN,30
WARD,30
MARTIN,30
BLAKE,30
TURNER,30
JAMES,30
YODA,null
Jonathan,null
SMITH,20
JONES,20
SCOTT,20
ADAMS,20
FORD,20
MILLER,10
KING,10
CLARK,10
ACCOUNTING,10
RESEARCH,20
SALES,30
OPERATIONS,40
PROGRAMMING,50
A,1
B,2

### C. `Pandas`

In [0]:
pandas_emp = emp.toPandas()
pandas_dept = dept.toPandas()

import pandas as pd
pandas_emp = pandas_emp[['ename', 'deptno']]
pandas_dept = pandas_dept[['dname', 'deptno']]

pandas_emp.columns = ['ename_and_dname', 'deptno']
pandas_dept.columns = ['ename_and_dname', 'deptno']

pd.concat([pandas_emp, pandas_dept]).display()

/databricks/spark/python/pyspark/sql/pandas/conversion.py:467: UserWarning: createDataFrame attempted Arrow optimization because 'spark.sql.execution.arrow.pyspark.enabled' is set to true; however, failed by the reason below:
  Expected bytes, got a 'int' object
Attempting non-optimization as 'spark.sql.execution.arrow.pyspark.fallback.enabled' is set to true.
  warn(msg)

ename_and_dname,deptno
ALLEN,30
WARD,30
MARTIN,30
BLAKE,30
TURNER,30
JAMES,30
YODA,null
Jonathan,null
SMITH,20
JONES,20
SCOTT,20
ADAMS,20
FORD,20
MILLER,10
KING,10
CLARK,10
ACCOUNTING,10
RESEARCH,20
SALES,30
OPERATIONS,40
PROGRAMMING,50
A,1
B,2

## 2. Combining Related Rows
- Joining on columns that share common values
- Join is an operation that combines rows from two tables into one

### A. `SQL`
- Equi-join is a join in which join condition is based on an equality condition
- **Conceptually**, the result set from a join is produced by first creating a Cartesian product (all possible combination of rows) from the tables listed on `FROM` clause and then the intermediate result set is filtered

#### Solution 1

In [0]:
%sql
-- Way 1
select e.ename, d.loc
from emp e, dept d
where e.deptno=d.deptno
and e.deptno=10

ename,loc
MILLER,NEW YORK
KING,NEW YORK
CLARK,NEW YORK

#### Solution 2

In [0]:
%sql
-- Way 2
-- Inner is optional
select e.ename, d.loc
from emp e join dept d
on (e.deptno = d.deptno)
where e.deptno=10

ename,loc
MILLER,NEW YORK
KING,NEW YORK
CLARK,NEW YORK

#### Solution 3

In [0]:
%sql
-- Way 3
-- Inner is optional
select e.ename, d.loc
from emp e join dept d
on (e.deptno = d.deptno)
and e.deptno=10

ename,loc
MILLER,NEW YORK
KING,NEW YORK
CLARK,NEW YORK

### B. `PySpark`

#### Solution 1

In [0]:
emp.join(dept,
         on = [emp.deptno == dept.deptno],
         how = "inner").filter(emp.deptno == 10).select(emp.ename,
                                                        dept.loc).display()

ename,loc
MILLER,NEW YORK
KING,NEW YORK
CLARK,NEW YORK

#### Solution 2

In [0]:
emp.join(dept,
         on = [emp.deptno == dept.deptno,
               emp.deptno == 10],
         how = "inner").select(emp.ename,
                               dept.loc).display()

ename,loc
MILLER,NEW YORK
KING,NEW YORK
CLARK,NEW YORK

### C. `Pandas`

In [0]:
pandas_emp = emp.toPandas()
pandas_dept = dept.toPandas()

pandas_emp['deptno'] = pandas_emp[pandas_emp['deptno'].notna()]['deptno'].astype('int')
pandas_dept['deptno'] = pandas_dept[pandas_dept['deptno'].notna()]['deptno'].astype('int')

final = pandas_emp.merge(pandas_dept,
                         on = 'deptno',
                         how = "inner")
                         
final[final['deptno'] == 10][['ename',
                              'loc']].display()

ename,loc
MILLER,NEW YORK
KING,NEW YORK
CLARK,NEW YORK

## 3. Finding Rows in Common Between Two Tables [[**EQUI-JOIN**]]

### A. `SQL`
- Instead of `JOIN`, one can use `INTERSECT`
- `INTERSECT` returns rows common to both sources
- Similar to `UNION`, same number of items, same data type is to be considered. Also duplicates are not returned

#### Creating a View

In [0]:
%sql
drop view if exists V;
create temporary view V
as 
select ename, job, sal
from emp
where job='CLERK';

select * from V

ename,job,sal
JAMES,CLERK,950
SMITH,CLERK,880
ADAMS,CLERK,1210
MILLER,CLERK,4000

#### Solution 1 (Using join)

In [0]:
%sql
-- Way 1
select e.empno, e.ename, e.job, e.sal, e.deptno
from emp e, V
where e.ename = v.ename
and e.job = v.job
and e.sal = v.sal

empno,ename,job,sal,deptno
7900,JAMES,CLERK,950,30
7369,SMITH,CLERK,880,20
7876,ADAMS,CLERK,1210,20
7934,MILLER,CLERK,4000,10

#### Solution 2 (Using join)

In [0]:
%sql
select e.empno, e.ename, e.job, e.sal, e.deptno
from emp e join V
on e.ename= v.ename
and e.job = v.job
and e.sal = v.sal

empno,ename,job,sal,deptno
7900,JAMES,CLERK,950,30
7369,SMITH,CLERK,880,20
7876,ADAMS,CLERK,1210,20
7934,MILLER,CLERK,4000,10

#### Solution 3 (Using Intersect)
- Limitations that duplicate rows are not returned

In [0]:
%sql
select empno, ename, job, sal, deptno
from emp
where (ename, job, sal) in (
select ename, job, sal from emp
intersect
select ename, job, sal from V
)

empno,ename,job,sal,deptno
7900,JAMES,CLERK,950,30
7369,SMITH,CLERK,880,20
7876,ADAMS,CLERK,1210,20
7934,MILLER,CLERK,4000,10

### B. `PySpark`

In [0]:
V_df = spark.sql('select * from V')
emp.join(V_df,
         on = [emp.ename == V_df.ename,
               emp.job == V_df.job,
               emp.sal == V_df.sal],
         how = "inner").select(emp.empno, 
                               emp.ename, 
                               emp.job,
                               emp.sal, 
                               emp.deptno).display()

empno,ename,job,sal,deptno
7900,JAMES,CLERK,950,30
7369,SMITH,CLERK,880,20
7876,ADAMS,CLERK,1210,20
7934,MILLER,CLERK,4000,10

### C. `Pandas`

In [0]:
V_df_pandas = spark.sql('select * from V').toPandas()
pandas_emp = emp.toPandas()

V_df_pandas['sal'] = V_df_pandas[V_df_pandas['sal'].notna()]['sal'].astype('int')
pandas_emp['sal'] = pandas_emp[pandas_emp['sal'].notna()]['sal'].astype('int')

final = pandas_emp.merge(V_df_pandas,
                         on = ['ename', 'job', 'sal'],
                         how = "inner")

final[['empno', 'ename', 'job', 'sal', 'deptno']].display()

empno,ename,job,sal,deptno
7900,JAMES,CLERK,950.0,30
7369,SMITH,CLERK,880.0,20
7876,ADAMS,CLERK,1210.0,20
7934,MILLER,CLERK,4000.0,10

## 4. Retrieving Values from One Table That Don Not Exist in Another

### A. `SQL`
- Use `EXCEPT` which is set difference operator . Similar to `UNION` and `INTERSECT`, it does not consider duplciate rows

#### Solution 1 (using except)

In [0]:
%sql
select deptno from dept
except
select deptno from emp

deptno
40
1
2
50

#### Solution 2 (using not in) **DOESN'T WORK**

In [0]:
%sql
select deptno
from dept
where deptno not in (select deptno from emp)

In [0]:
%sql
-- Same as previous query
select deptno from 
dept
where (deptno <> 30 and deptno <> 20 and deptno <> 50 and deptno <> null)

#### Why is there a problem?
- Rows are only shown when the Truth Value is True (**T**)
- `IN` & `NOT IN` are essentially **OR** and will yield different results because of how `NULL` are treated by logical OR operations
- Consider the truth values below for some operators
- `T`= true, `F` = False, `N`= null

| OR | T | F | N |
|---|---|---|---|
| T | T | T | T |
| F | T | F | N |
| N | T | N | N |


| AND | T | F | N |
|---|---|---|---|
| T | T | F | N |
| F | F | F | F |
| N | N | F | N |

| NOT| |
|---|---|
| T | F |
| F | T |
| N | N |

- `30=null` gives `N`

In [0]:
%sql
select null=null

(NULL = NULL)
null

#### How to fix the problem?
- Use *correlated subquery* in conjunction with `NOT EXISTS`
- *correlated query* is called as such because rows from outer query are referenced in subquery

`EXISTS` accepts an argument which is a subquery.

If the subquery returns at least one row, the result of EXISTS is true. In case the subquery returns no row, the result is of EXISTS is false.

For this reason, the common coding convention is to write EXISTS in the following form:

```
SELECT 
    column1
FROM 
    table_1
WHERE 
    EXISTS( SELECT 
                1 
            FROM 
                table_2 
            WHERE 
                column_2 = table_1.column_1);
```

#### Solution 2 ( Using not exists , dont use not in )

In [0]:
%sql
select d.deptno
from dept d
where not exists (
select 1 from emp e
where d.deptno = e.deptno)

deptno
40
50
1
2

- Conceptually outer query considers each row in dept table
- Subquery is executed to see whether deptno exists in EMP table. If exists, TRUE is returned otherwise FALSE

### B. `PySpark`

In [0]:
dept.select('deptno').exceptAll(emp.select('deptno')).display()

deptno
40
1
2
50

### C. `Pandas`

In [0]:
df_dept_pandas = dept.toPandas()
df_emp_pandas = emp.toPandas()

df_dept_pandas['deptno'] = df_dept_pandas[df_dept_pandas['deptno'].notna()]['deptno'].astype('int')
df_emp_pandas['deptno'] = df_emp_pandas[df_emp_pandas['deptno'].notna()]['deptno'].astype('int')

df_dept_pandas[~df_dept_pandas['deptno'].isin(df_emp_pandas['deptno'])][['deptno']].display()

deptno
40
50
1
2

## 5. Retrieving Rows from One Table That Do Not Correspond to Rows in Another [[**ANTI-JOIN**]]
- Finding rows in one table that do not have a match in another table
- Subtly different from previous problem, as other columns also need to be retrieved

## Solution 1 (using join)

In [0]:
%%sql
select d.*
from dept d left outer join emp e
on (d.deptno = e.deptno)
where e.deptno is null

 * postgresql://user_jupyter:***@127.0.0.1/Practice
1 rows affected.

[(40, 'OPERATIONS', 'BOSTON')]

## Solution 2 ( Using not exists)

In [0]:
%%sql
select d.*
from dept d
where not exists (
select 1 from emp e
where d.deptno = e.deptno)

 * postgresql://user_jupyter:***@127.0.0.1/Practice
1 rows affected.

[(40, 'OPERATIONS', 'BOSTON')]

## 6. Adding Joins to a Query without Interfering with Other Joins

In [0]:
# %%sql
# DROP TABLE EMP_BONUS;
# CREATE TABLE EMP_BONUS
#        (EMPNO integer NOT NULL,
#         RECEIVED DATE,
#         TYPE integer);

# INSERT INTO EMP_BONUS VALUES
#         (7369, '2005-03-14', 1);
# INSERT INTO EMP_BONUS VALUES
#         (7900, '2005-03-14', 2);
# INSERT INTO EMP_BONUS VALUES
#         (7788, '2005-03-14', 3);

 * postgresql://user_jupyter:***@127.0.0.1/Practice
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Solution 1

In [0]:
%%sql
select e.ename, d.loc, eb.received
from emp e join dept d
on e.deptno = d.deptno
left join emp_bonus eb
on e.empno = eb.empno

 * postgresql://user_jupyter:***@127.0.0.1/Practice
14 rows affected.

[('SMITH', 'DALLAS', datetime.date(2005, 3, 14)),
 ('ALLEN', 'CHICAGO', None),
 ('WARD', 'CHICAGO', None),
 ('JONES', 'DALLAS', None),
 ('MARTIN', 'CHICAGO', None),
 ('BLAKE', 'CHICAGO', None),
 ('CLARK', 'NEW YORK', None),
 ('SCOTT', 'DALLAS', datetime.date(2005, 3, 14)),
 ('KING', 'NEW YORK', None),
 ('TURNER', 'CHICAGO', None),
 ('ADAMS', 'DALLAS', None),
 ('JAMES', 'CHICAGO', datetime.date(2005, 3, 14)),
 ('FORD', 'DALLAS', None),
 ('MILLER', 'NEW YORK', None)]

### Solution 2 (using scalar subquery)
- Scalar subquery is a subquery placed in `SELECT` list of another query
- When working with scalar subqueries, it must be ensured that the subquery will return a single (scalar) value

In [0]:
%%sql
select e.ename, d.loc, (select eb.received from emp_bonus eb where eb.empno = e.empno) as received
from emp e, dept d
where e.deptno=d.deptno

 * postgresql://user_jupyter:***@127.0.0.1/Practice
14 rows affected.

[('MILLER', 'NEW YORK', None),
 ('KING', 'NEW YORK', None),
 ('CLARK', 'NEW YORK', None),
 ('FORD', 'DALLAS', None),
 ('ADAMS', 'DALLAS', None),
 ('SCOTT', 'DALLAS', datetime.date(2005, 3, 14)),
 ('JONES', 'DALLAS', None),
 ('SMITH', 'DALLAS', datetime.date(2005, 3, 14)),
 ('JAMES', 'CHICAGO', datetime.date(2005, 3, 14)),
 ('TURNER', 'CHICAGO', None),
 ('BLAKE', 'CHICAGO', None),
 ('MARTIN', 'CHICAGO', None),
 ('WARD', 'CHICAGO', None),
 ('ALLEN', 'CHICAGO', None)]

In [0]:
%%sql
select e.ename, d.loc, (select eb.received from emp_bonus eb where eb.empno = e.empno) as received
from emp e join dept d
on e.deptno=d.deptno

 * postgresql://user_jupyter:***@127.0.0.1/Practice
14 rows affected.

[('MILLER', 'NEW YORK', None),
 ('KING', 'NEW YORK', None),
 ('CLARK', 'NEW YORK', None),
 ('FORD', 'DALLAS', None),
 ('ADAMS', 'DALLAS', None),
 ('SCOTT', 'DALLAS', datetime.date(2005, 3, 14)),
 ('JONES', 'DALLAS', None),
 ('SMITH', 'DALLAS', datetime.date(2005, 3, 14)),
 ('JAMES', 'CHICAGO', datetime.date(2005, 3, 14)),
 ('TURNER', 'CHICAGO', None),
 ('BLAKE', 'CHICAGO', None),
 ('MARTIN', 'CHICAGO', None),
 ('WARD', 'CHICAGO', None),
 ('ALLEN', 'CHICAGO', None)]

## 7. Determining whether 2 tables have the same data
1. Find rows in table EMP that do not exist in view V.
2. Combine (UNION ALL) those rows with rows from view V that do not exist in
table EMP.

### Create Temporary View to find Difference between `EMP` & View

In [0]:
%%sql
drop view V;
create
 view V
as
select
 * from emp where deptno != 10
union
 all
select
 * from emp where ename = 'WARD';
select * from V

 * postgresql://user_jupyter:***@127.0.0.1/Practice
Done.
Done.
12 rows affected.

[(7369, 'SMITH', 'CLERK', 7902, datetime.date(1980, 12, 17), 800, None, 20),
 (7499, 'ALLEN', 'SALESMAN', 7698, datetime.date(1981, 2, 20), 1600, 300, 30),
 (7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30),
 (7566, 'JONES', 'MANAGER', 7839, datetime.date(1981, 4, 2), 2975, None, 20),
 (7654, 'MARTIN', 'SALESMAN', 7698, datetime.date(1981, 9, 28), 1250, 1400, 30),
 (7698, 'BLAKE', 'MANAGER', 7839, datetime.date(1981, 5, 1), 2850, None, 30),
 (7788, 'SCOTT', 'ANALYST', 7566, datetime.date(1982, 12, 9), 3000, None, 20),
 (7844, 'TURNER', 'SALESMAN', 7698, datetime.date(1981, 9, 8), 1500, 0, 30),
 (7876, 'ADAMS', 'CLERK', 7788, datetime.date(1983, 1, 12), 1100, None, 20),
 (7900, 'JAMES', 'CLERK', 7698, datetime.date(1981, 12, 3), 950, None, 30),
 (7902, 'FORD', 'ANALYST', 7566, datetime.date(1981, 12, 3), 3000, None, 20),
 (7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30)]

### Solution 1 (Using Except)

In [0]:
%%sql
(
 select empno,ename,job,mgr,hiredate,sal,comm,deptno,
 count(*) as cnt
 from V
 group by empno,ename,job,mgr,hiredate,sal,comm,deptno
 except
 select empno,ename,job,mgr,hiredate,sal,comm,deptno,
 count(*) as cnt
 from emp
 group by empno,ename,job,mgr,hiredate,sal,comm,deptno
 )
 union all
 (
 select empno,ename,job,mgr,hiredate,sal,comm,deptno,
 count(*) as cnt
 from emp
 group by empno,ename,job,mgr,hiredate,sal,comm,deptno
 except
 select empno,ename,job,mgr,hiredate,sal,comm,deptno,
 count(*) as cnt
 from v
 group by empno,ename,job,mgr,hiredate,sal,comm,deptno
)

 * postgresql://user_jupyter:***@127.0.0.1/Practice
5 rows affected.

[(7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30, 2),
 (7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 1300, None, 10, 1),
 (7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30, 1),
 (7839, 'KING', 'PRESIDENT', None, datetime.date(1981, 11, 17), 5000, None, 10, 1),
 (7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 2450, None, 10, 1)]

### Solution 2 (Using Not Exists)

In [0]:
%%sql
select *
from (
select e.empno,e.ename,e.job,e.mgr,e.hiredate,
e.sal,e.comm,e.deptno, count(*) as cnt
from emp e
group by empno,ename,job,mgr,hiredate,
sal,comm,deptno
) e
where not exists (
select null
from (
select v.empno,v.ename,v.job,v.mgr,v.hiredate,
v.sal,v.comm,v.deptno, count(*) as cnt
from v
group by empno,ename,job,mgr,hiredate,
sal,comm,deptno
) v
where v.empno
 = e.empno
and v.ename
 = e.ename
and v.job
 = e.job
and v.mgr
 = e.mgr
and v.hiredate = e.hiredate
and
 v.sal
 = e.sal
and
 v.deptno
 = e.deptno
and
 v.cnt
 = e.cnt
and
 coalesce(v.comm,0) = coalesce(e.comm,0)
)
 union all
 select *
 from (
 select v.empno,v.ename,v.job,v.mgr,v.hiredate,
 v.sal,v.comm,v.deptno, count(*) as cnt
 from v
 group by empno,ename,job,mgr,hiredate,
 sal,comm,deptno
 ) v
 where not exists (
 select null
 from (
 select e.empno,e.ename,e.job,e.mgr,e.hiredate,
 e.sal,e.comm,e.deptno, count(*) as cnt
 from emp e
 group by empno,ename,job,mgr,hiredate,
 sal,comm,deptno
 ) e
 where v.empno
 = e.empno
 and v.ename
 = e.ename
 and v.job
 = e.job
 and coalesce(v.mgr,0) = coalesce(e.mgr,0)
 and v.hiredate = e.hiredate
 and v.sal
 = e.sal
 and v.deptno
 = e.deptno
 and v.cnt
 = e.cnt
 and coalesce(v.comm,0) = coalesce(e.comm,0)
)

 * postgresql://user_jupyter:***@127.0.0.1/Practice
5 rows affected.

[(7934, 'MILLER', 'CLERK', 7782, datetime.date(1982, 1, 23), 1300, None, 10, 1),
 (7839, 'KING', 'PRESIDENT', None, datetime.date(1981, 11, 17), 5000, None, 10, 1),
 (7782, 'CLARK', 'MANAGER', 7839, datetime.date(1981, 6, 9), 2450, None, 10, 1),
 (7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30, 1),
 (7521, 'WARD', 'SALESMAN', 7698, datetime.date(1981, 2, 22), 1250, 500, 30, 2)]

## 8. Identifying & Avoiding Cartesian Products

### Wrong Querying

In [0]:
%%sql
select e.ename, d.loc
from emp e, dept d
where e.deptno = 10

 * postgresql://user_jupyter:***@127.0.0.1/Practice
12 rows affected.

[('CLARK', 'NEW YORK'),
 ('KING', 'NEW YORK'),
 ('MILLER', 'NEW YORK'),
 ('CLARK', 'DALLAS'),
 ('KING', 'DALLAS'),
 ('MILLER', 'DALLAS'),
 ('CLARK', 'CHICAGO'),
 ('KING', 'CHICAGO'),
 ('MILLER', 'CHICAGO'),
 ('CLARK', 'BOSTON'),
 ('KING', 'BOSTON'),
 ('MILLER', 'BOSTON')]

### Solution

In [0]:
%%sql
select e.ename, d.loc
from emp e, dept d
where e.deptno = 10
and e.deptno=d.deptno

 * postgresql://user_jupyter:***@127.0.0.1/Practice
3 rows affected.

[('CLARK', 'NEW YORK'), ('KING', 'NEW YORK'), ('MILLER', 'NEW YORK')]

**N-1 Rule**
To avoid a Cartesian product, you would apply the n–1 rule where n
represents the number of tables in the FROM clause and n–1 represents the mini‐
mum number of joins necessary to avoid a Cartesian product. Depending on what
the keys and join columns in your tables are, you may very well need more than n–1
joins, but n–1 is a good place to start when writing queries.

### Use of Cartesian Products
- Transposing
- Pivoting or Unpivoting a result set
- Generating a sequence of values (can be achieved via  a CTE also)
- Mimicking a loop (can be achieved via  a CTE also)

## 9. Performing Joins when using Aggregates
-  joins do not disrupt the aggregation

In [0]:
# %%sql
# DROP TABLE EMP_BONUS;
# CREATE TABLE EMP_BONUS
#        (EMPNO integer NOT NULL,
#         RECEIVED DATE,
#         TYPE integer);

# INSERT INTO EMP_BONUS VALUES
#         (7934, '2005-03-17', 1);
# INSERT INTO EMP_BONUS VALUES
#         (7934, '2005-02-15', 2);
# INSERT INTO EMP_BONUS VALUES
#         (7839, '2005-02-15', 3);
# INSERT INTO EMP_BONUS VALUES
#         (7782, '2005-02-15', 1);

 * postgresql://user_jupyter:***@127.0.0.1/Practice
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

-  Use the keyword `DISTINCT` in the call to the aggregate function, so only unique instances of each value are used in the computation
- perform the aggregation first (in an inline view) prior to joining, thus avoidingthe incorrect computation by the aggregate function because the aggregate will already be computed before you even join, thus avoiding the problem altogether.

### Solution 1

In [0]:
%%sql
select deptno,
 sum(distinct sal) as total_sal,
 sum(bonus) as total_bonus
 from (
select e.empno,
 e.ename,
 e.sal,
 e.deptno,
 e.sal*case when eb.type = 1 then .1
 when eb.type = 2 then .2
 else .3
 end as bonus
 from emp e, emp_bonus eb
 where e.empno = eb.empno
 and e.deptno = 10
 ) x
 group by deptno

 * postgresql://user_jupyter:***@127.0.0.1/Practice
1 rows affected.

[(10, 8750, Decimal('2135.0'))]

### Solution 2

In [0]:
%%sql
select d.deptno,
d.total_sal,
sum(e.sal*case when eb.type = 1 then .1
when eb.type = 2 then .2
else .3 end) as total_bonus
from emp e,
emp_bonus eb,
(
select deptno, sum(sal) as total_sal
from emp
where deptno = 10
group by deptno
) d
where e.deptno = d.deptno
and e.empno = eb.empno
group by d.deptno,d.total_sal

 * postgresql://user_jupyter:***@127.0.0.1/Practice
1 rows affected.

[(10, 8750, Decimal('2135.0'))]

## 10. Performing Outer Joins when using Aggregates

In [0]:
# %%sql
# DROP TABLE EMP_BONUS;
# CREATE TABLE EMP_BONUS
#        (EMPNO integer NOT NULL,
#         RECEIVED DATE,
#         TYPE integer);

# INSERT INTO EMP_BONUS VALUES
#         (7934, '2005-03-17', 1);
# INSERT INTO EMP_BONUS VALUES
#         (7934, '2005-02-15', 2);

 * postgresql://user_jupyter:***@127.0.0.1/Practice
Done.
Done.
1 rows affected.
1 rows affected.

[]

### Solution 1

In [0]:
%%sql
select e.deptno, sum(e.sal*case when eb.type=1 then .1 when eb.type=2 then .2 else 0 end) as total_bonus, sum(distinct e.sal)
from emp e left join emp_bonus eb
on e.empno=eb.empno
group by e.deptno
having deptno=10

 * postgresql://user_jupyter:***@127.0.0.1/Practice
1 rows affected.

[(10, Decimal('390.0'), 8750)]

### Solution 2 (Avioding Outer Join)

In [0]:
%%sql
select d.deptno,
d.total_sal,
sum(e.sal*case when eb.type = 1 then .1
when eb.type = 2 then .2
else .3 end) as total_bonus
from emp e,
emp_bonus eb,
(
select deptno, sum(sal) as total_sal
from emp
where deptno = 10
group by deptno
) d
where e.deptno = d.deptno
and e.empno = eb.empno
group by d.deptno,d.total_sal

 * postgresql://user_jupyter:***@127.0.0.1/Practice
1 rows affected.

[(10, 8750, Decimal('390.0'))]

## 11. Returning Missing Data from Multiple Tables
- Using full outer join

### Adding a record without deptno

In [0]:
%%sql
insert
 into emp (empno,ename,job,mgr,hiredate,sal,comm,deptno)
select
 1111,'YODA','JEDI',null,hiredate,sal,comm,null
from
 emp
where
 ename = 'KING'

 * postgresql://user_jupyter:***@127.0.0.1/Practice
1 rows affected.

[]

### Solution

In [0]:
%%sql
select d.deptno,d.dname,e.ename
 from dept d full outer join emp e
 on (d.deptno=e.deptno)

 * postgresql://user_jupyter:***@127.0.0.1/Practice
16 rows affected.

[(10, 'ACCOUNTING', 'MILLER'),
 (10, 'ACCOUNTING', 'KING'),
 (10, 'ACCOUNTING', 'CLARK'),
 (20, 'RESEARCH', 'FORD'),
 (20, 'RESEARCH', 'ADAMS'),
 (20, 'RESEARCH', 'SCOTT'),
 (20, 'RESEARCH', 'JONES'),
 (20, 'RESEARCH', 'SMITH'),
 (30, 'SALES', 'JAMES'),
 (30, 'SALES', 'TURNER'),
 (30, 'SALES', 'BLAKE'),
 (30, 'SALES', 'MARTIN'),
 (30, 'SALES', 'WARD'),
 (30, 'SALES', 'ALLEN'),
 (40, 'OPERATIONS', None),
 (None, None, 'YODA')]

## 12. Using `NULL`s in Operations & Comparisons
- `NULL` is never equal to or not equal to any value, not even itself, but you want to evaluate values returned by a nullable column like you would evaluate real values
- The `COALESCE` function will return the first non-NULL value from the list of values passed to it
- The `COALESCE` function accepts an unlimited number of arguments. It returns the first argument that is not null. If all arguments are null, the COALESCE function will return null.

In [0]:
%%sql
select ename,comm
 from emp
 where coalesce(comm,0) < ( select comm
 from emp
 where ename = 'WARD' )

 * postgresql://user_jupyter:***@127.0.0.1/Practice
13 rows affected.

[('SMITH', None),
 ('ALLEN', 300),
 ('JONES', None),
 ('BLAKE', None),
 ('CLARK', None),
 ('SCOTT', None),
 ('KING', None),
 ('TURNER', 0),
 ('ADAMS', None),
 ('JAMES', None),
 ('FORD', None),
 ('MILLER', None),
 ('YODA', None)]